@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START: Header styles */
.general-header {
  @apply flex w-full h-[150px] items-center px-8 bg-white/[0.5] font-['Roboto'] font-normal;
}

.general-header__navbar {
  @apply flex justify-between text-primary-green text-[19px] h-full w-full;
}

.nav-item {
  @apply h-full flex items-center text-center hover:bg-green-light hover:text-white transition px-5;
}

.cart {
  @apply flex-1 h-full w-full flex items-center justify-end;
}

/** START: Burger menu styles **/

.burger-nav__item {
  @apply px-10 py-8 font-bold hover:bg-green-light hover:text-white transition-all;
}

.overlay {
  @apply fixed h-full w-full bg-green-light inset-0 bg-opacity-25 z-[13];
}

/** END: Burger menu styles **/

/* END: Header styles */

/* START: Nature section styles */

.nature {
  @apply w-full lg:mt-[150px] h-[913px] font-['Roboto'];
}

.nature__bg-img {
  @apply bg-nature-bg w-full h-full bg-center bg-cover bg-no-repeat px-8;
}

.nature-txt-container {
  @apply flex w-full h-full flex-col justify-center;
}

/* END: Nature section styles */

/* START: Footer styles */

.general-footer {
  @apply flex flex-col w-full min-h-[630px] pt-10;
}

.general-footer__nav-container {
  @apply w-full h-full flex justify-around px-8 mt-auto pb-10 flex-wrap;
}

.nav-contact {
  @apply flex flex-col gap-7 text-right pr-3 text-primary-green;
}

.nav-social {
  @apply flex flex-col w-full max-h-full justify-center items-center gap-[45px];
}

/* END: Footer styles */

/* START: Banners styles */

.banner-list {
  @apply w-full h-full flex items-center justify-center gap-12 px-8 flex-col;
}

.banner {
  @apply font-['Roboto'] relative w-full h-full;
}

.banner__description {
  @apply absolute flex flex-col top-[50%] translate-y-[-50%] left-8;
}

/* END: Banners styles */
