@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START: General styles */

.title {
  @apply font-['Yellowtail'] text-green-light text-4xl;
}

.subtitle {
  @apply capitalize font-['Roboto'] text-primary-green font-bold text-[45px];
}

/* END: General styles */

/* START: Header styles */
.general-header {
  @apply flex w-full h-[150px] items-center px-8 bg-white/[0.5] font-['Roboto'] font-normal;
}

.general-header__navbar {
  @apply flex justify-between text-primary-green text-[19px] h-full w-full;
}

.nav-item {
  @apply h-full flex items-center text-center hover:bg-green-light hover:text-white transition px-5;
}

.cart {
  @apply flex-1 h-full w-full flex items-center justify-end;
}

/** START: Burger menu styles **/

.burger-nav__item {
  @apply px-10 py-8 font-bold hover:bg-green-light hover:text-white transition-all;
}

.overlay {
  @apply fixed h-full w-full bg-green-light inset-0 bg-opacity-25 z-[13];
}

/** END: Burger menu styles **/

/* END: Header styles */

/* START: Nature section styles */

.nature {
  @apply w-full lg:mt-[150px] h-[913px] font-['Roboto'];
}

.nature__bg-img {
  @apply bg-nature-bg w-full h-full bg-center bg-cover bg-no-repeat px-8;
}

.nature-txt-container {
  @apply flex w-full h-full flex-col justify-center;
}

/* END: Nature section styles */

/* START: Footer styles */

.general-footer {
  @apply flex flex-col w-full min-h-[630px] pt-10;
}

.general-footer__nav-container {
  @apply w-full h-full flex justify-around px-8 mt-auto pb-10 flex-wrap;
}

.nav-contact {
  @apply flex flex-col gap-7 text-right pr-3 text-primary-green;
}

.nav-social {
  @apply flex flex-col w-full max-h-full justify-center items-center gap-[45px];
}

/* END: Footer styles */

/* START: Banners styles */

.banner-list {
  @apply w-full h-full flex items-center justify-center gap-12 px-8 flex-col;
}

.banner {
  @apply font-['Roboto'] relative w-full h-full;
}

.banner__description {
  @apply absolute flex flex-col top-[50%] translate-y-[-50%] left-8;
}

/* END: Banners styles */

/* START: About us styles */

.about-us {
  @apply h-full w-full pl-8 pr-9 py-20 bg-grey-light;
}

.about-us__container {
  @apply flex w-full h-full justify-center items-center;
}

/* END: About us styles */

/* START: Organic styles */

.organic {
  @apply h-full py-[120px] flex flex-col w-full items-center;
}

/* END: Organic styles */

/* START: Product card styles */

.card {
  @apply font-['Open_Sans'] bg-grey-light flex flex-col max-w-[300px] w-full h-[450px] rounded-[30px] p-8 drop-shadow-md;
}

.card__category {
  @apply capitalize max-w-[120px] w-full h-[40px] bg-primary-green rounded-lg flex justify-center items-center text-white font-bold;
}

.card__product-name {
  @apply font-['Roboto'] text-[22px] text-primary-green;
}

/* END: Product card styles */

/* START: Testimonial styles */

.testimonial {
  @apply flex flex-col items-center justify-center bg-testimonial-bg bg-center h-full bg-contain pb-24;
}

.advantages {
  @apply mt-24 flex flex-col w-full h-full gap-6 justify-center max-sm:items-center sm:px-5 sm:flex-row sm:flex-wrap;
}

.advantages__advantage-container {
  @apply w-full h-32 border-t-[6px] border-b-[6px] border-green-light rounded-none sm:rounded-full p-1 sm:w-[250px] sm:h-[250px] sm:border-[6px];
}

.advantages__advantage {
  @apply flex flex-col justify-center items-center w-full h-full  bg-grey-text/[0.1] sm:rounded-full;
}

/* END: Testimonial styles */

/* START: Offers styles */

.offer-products {
  @apply h-full bg-primary-green pt-[139px] pb-[160px];
}

.offer-products__information {
  @apply flex flex-col items-center px-5 lg:flex-row lg:justify-between lg:items-end;
}

.offer-products__cards {
  @apply flex mt-[40px] px-5 gap-5 justify-center flex-wrap xl:flex-nowrap;
}

/* END: Offers styles */

/* START: Eco friendly styles */

.eco-friendly {
  @apply font-['Roboto'] h-full w-full flex items-center md:pr-5;
}

.eco-friendly__bg {
  @apply bg-eco-friendly-bg bg-left bg-no-repeat w-full flex max-w-[100%] min-h-[700px] lg:max-w-[50%] lg:bg-cover max-md:hidden;
}

.eco-information {
  @apply h-full rounded-3xl bg-white md:ml-[-50px] px-14 pt-8 pb-12;
}

/* END: Eco friendly styles */
